<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button defaultHref="/main/tabs/tab2" text="" mode="ios" color="tertiary"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-row class="header-search-bars">
    <ion-row class="ion-align-items-end">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <ion-searchbar placeholder="Current Location" inputmode="text" type="text" [debounce]="250" animated class="search-bar-1"></ion-searchbar>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-start">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <ion-searchbar placeholder="Where are you going?" inputmode="text" type="text" [debounce]="250" animated class="search-bar-2 button" routerLink="/routes-vehicles"></ion-searchbar>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-row>

  <ion-list *ngFor="let favorite of favorites">
    <ion-item lines="full" routerLink="/routes-vehicles" class="item">
      <ion-avatar slot="start">
        <img src="/assets/icon/{{favorite.img}}">
      </ion-avatar>
      <ion-label>
        <h2>{{favorite.name}}</h2>
        <p>{{favorite.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item detail lines="full" routerLink="/saved" class="item"> 
    <ion-avatar slot="start">
      <img src="/assets/icon/star_2_avatar.svg">
    </ion-avatar>
    <ion-label>
      <h2 class="bold">Saved Locations</h2>
      <p></p>
    </ion-label>
  </ion-item>

  <ion-row class="line-separation">
  </ion-row>

  <ion-list *ngFor="let item of items">

     <ion-item lines="full" class="item">
        <ion-avatar slot="start">
          <img src="/assets/icon/clock_avatar.svg">
        </ion-avatar>
        <ion-label>
          <h2>{{ item.address }}</h2>
          <p>{{ item.city }}</p>
        </ion-label>
      </ion-item>

  </ion-list>
</ion-content>