<ion-header class="ion-no-border bar-header" transparent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button defaultHref="/main/tabs/tab2" text="" mode="ios" color="secondary"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>
 
<ion-content>

  <ion-grid fixed class="ion-padding" >
      
      <ion-row>
          <ion-col>

              <ion-card class="ion-padding title-card"> 
                  
                  <ion-card-header>
                      <img class="avatar" src="/assets/avatars/{{user.img}}" routerLink="/profile">
                  </ion-card-header>
                  <ion-card-content>
                      <ion-label >{{user.name}}</ion-label>
                  </ion-card-content>

              </ion-card>

              <ion-row class="avatar-buttons">

                  <ion-row>
                      <ion-col>
                          <img src="/assets/avatars/profile_active_avatar.svg" class="button" routerLink="/profile">
                      </ion-col>
                      <ion-col>
                          <img src="/assets/avatars/setting_active_avatar.svg" class="button" routerLink="/main/tabs/tab3">
                      </ion-col>
                  </ion-row>

                  <ion-row class="center-text">
                      <ion-col>
                          <ion-label color="secondary">Profile</ion-label>
                      </ion-col>
                      <ion-col>
                          <ion-label color="secondary">Help Center</ion-label>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col>
                          <img src="/assets/avatars/travel_active_avatar.svg" class="button" routerLink="/trip-list">
                      </ion-col>
                      <ion-col>
                          <img src="/assets/avatars/payment_dollar_avatar.svg" class="button" routerLink="/payments">
                      </ion-col>
                  </ion-row>

                  <ion-row class="center-text">
                      <ion-col>
                          <ion-label color="secondary">Trips History</ion-label>
                      </ion-col>
                      <ion-col>
                          <ion-label color="secondary">Payments Methods</ion-label>
                      </ion-col>
                  </ion-row>

              </ion-row>

              <ion-card class="invite-friend">


      
                  <ion-card-content class="ion-padding">

                      <ion-row>
                          <ion-label><h4>What are you waiting? Invite a Friend!</h4></ion-label>
                      </ion-row>
                      <ion-row>
                          <ion-label class="white-text">Earn special rewards</ion-label>
                      </ion-row>
                      <ion-row>
                          <ion-col size="6">
                          </ion-col>
                          <ion-col size=6>
                              <ion-button class="button-right" color="primary">Invite</ion-button>
                          </ion-col>
                      </ion-row>
                      
                  </ion-card-content>
                  

              </ion-card>

              <ion-card routerLink="/account">

                  <ion-card-content>
                      <ion-list>
                          <ion-item detail lines="none">
                              <ion-label color="secondary">My account</ion-label>
                          </ion-item>
                      </ion-list>
                  </ion-card-content>

              </ion-card>

              <ion-row>
                  <ion-col>
                      <ion-button expand="full" color="warning" class="bold" routerLink="/">Log Out</ion-button>
                  </ion-col>
              </ion-row>

          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>