<ion-content>
    
  <ion-grid class="ion-padding" >

    <ion-row class="main-logo">
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-img src="/assets/icon/taxi_fake_logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" routerLink="/register">
        Register
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="login-button" color="tertiary" expand="full" routerLink="/login">
        Login
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

 <ion-footer class="ion-no-border"></ion-footer>

</ion-content>



