//ion background css
ion-content {
    position: absolute;
    top: 0px;
}
//ion background css
ion-toolbar {
    --background: transparent;
}
//ion card size
ion-card {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 10vmax;
    height: 8rem;
    width: 14rem;
    overflow: unset !important;
}
//ion content css
ion-card-header {
    position: absolute;
    width: 14rem;
    text-align: center;
    left: 0;
    top: -35%
}
//ion content css
ion-card-content {
    position: absolute;
    width: 14rem;
    text-align: center;
    left: 0;
    top: 50%;
}
//ion item line color
ion-item {
    --border-color: #3B546A;
}
//title paragrahp
ion-label p {
    text-align: center;
    color: #3B546A;
    margin-left: 10%;
    margin-right: 10%;
}
//avatar img css
.avatar-icon {
    width: 8vmax;
    z-index: 1;
}
.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
//bottom margin to push button
.bottom-margin {
    margin-bottom: 5%;
}
//top margin to push button
.top-margin {
    margin-top: 5%;
}
//line artwork
.line {
    position: relative;
    color: lightgrey;
    top: -5px;
}
//animation on click
.button:active {
    filter: brightness(50%);
}
