<ion-header class="ion-no-border bar-header" transparent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button defaultHref="/main/tabs/tab2" text="" mode="ios" color="secondary"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>
 
<ion-content>

  <ion-grid fixed class="ion-padding">
      
      <ion-row>
          <ion-col>

              <ion-card class="ion-padding title-card"> 
                  
                  <ion-card-header>
                      <img class="avatar" src="/assets/avatars/setting_active_avatar.svg">
                  </ion-card-header>
                  <ion-card-content>
                      <ion-label color="secondary">Help Center</ion-label>
                  </ion-card-content>

              </ion-card>
              
              <h4 class="top-margin">Do you need help for your last trip?</h4>
              <ion-card class="ion-padding">

                  <ion-item lines="none">
                      <ion-label class="big-font" color="secondary">{{lastTrip.address}}</ion-label>
                  </ion-item>
                  <ion-row>
                      <ion-col size="6"><ion-button color="tertiary" class="detail-button" (click)="presentAlert()">Detail</ion-button></ion-col>
                      <ion-col size="6"><ion-button color="primary">Contact Us</ion-button></ion-col>
                  </ion-row>
                  
                 

              </ion-card>
              <h4>Do you have any Question?</h4>
              <ion-card>

                  <ion-card-content>
                      <ion-list>
                          <ion-item detail lines="none" routerLink="/latest-trip">
                              <ion-label color="secondary">Latest Trips</ion-label>
                          </ion-item>
                          <ion-item detail lines="none">
                              <ion-label color="secondary" routerLink="/help-payment">My Payments</ion-label>
                          </ion-item>
                          <ion-item detail lines="none"> 
                              <ion-label color="secondary" routerLink="/help-account">My Account</ion-label>
                          </ion-item>
                          <ion-item detail lines="none"> 
                              <ion-label color="secondary" routerLink="/help-more">More</ion-label>
                          </ion-item>
                      </ion-list>
                  </ion-card-content>

              </ion-card>

          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>