//ion background css
ion-content {
    position: absolute;
    top: 0px;
}
//ion background css
ion-toolbar {
    --background: transparent;
}
// square button
ion-button {
    --border-radius: 0;
}
//ion card size
ion-card {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 10vmax;
    height: 8rem;
    width: 14rem;
    border-radius: 5%;
    overflow: unset !important;
  }
  //ion content css
  ion-card-header {
    position: absolute;
    width: 14rem;
    text-align: center;
    left: 0;
    top: -35%
  }
  //ion content css
  ion-card-content {
    position: absolute;
    width: 14rem;
    text-align: center;
    left: 0;
    top: 50%;
  }
//ion input field
ion-input {
    font-size: 0.8em;
}
ion-item {
    --border-color: #3B546A;
  }
  ion-segment {
    --background: #3B546A;
  }
//avatar img css
.avatar-icon {
    width: 10vmax;
    z-index: 1;
  }
//bottom margin to push button
.bottom-margin {
    margin-bottom: 5%;
}
//top margin to push button
.top-margin {
    margin-top: 10%;
}
//prev decoration
.btnPrev {
  margin-top: 20%;
  background-color: #fff;
  color: #3B546A;
}
//next decoration
.btnNext {
  margin-top: 20%;
  background-color: #fff;
  color: #3B546A;
}
//align center
.center-text {
    text-align: center;
}