//card icon
.card-icon {
    font-size: x-large ;
    padding-right: 1rem;
}
//text align 
.align-right {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: right;
}
//larger text
h1 {
    font-size: 3rem;
}