<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button defaultHref="/main/tabs/tab2" text="" mode="ios" color="secondary"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="col">
        <ion-card class="vehicle-card ion-padding">
          <button float-left ion-button  color="primary" class="btnPrev" (click)="prev()">&#8249;</button>
          <ion-grid>
            
            <ion-row class="center-text">
              <ion-label color="secondary" class="margin-bottom">Choose a Vehicle</ion-label>
            </ion-row>
 
           
              <ion-slides #slides [options]="opts">
       
                <ion-slide ion-slide *ngFor="let vehicle of vehicles">
                  <ion-grid>
                    <ion-row><img class="pick-avatar avatar-icon" src="/assets/avatars/{{vehicle.img}}" (click)="clickEvent(vehicle)" [ngClass]="{ 'pick-avatar-selected': vehicle.selected }"></ion-row>
                    <ion-row class="center-text smaller-text"><ion-label [ngClass]="{ 'active-text': vehicle.selected }">{{vehicle.name}}</ion-label></ion-row>
                  </ion-grid>
                </ion-slide>
              </ion-slides>

              <ion-grid class="ion-padding">
                <ion-row><h4>{{vehicleSelected.price}}</h4></ion-row>
                <ion-row><ion-label class="small-text">{{vehicleSelected.estimate}}</ion-label></ion-row>
              </ion-grid>
              
            <ion-row class="button-placement">
              <ion-button color="primary" expand="full" (click)=presentAlertConfirm()>Confirm</ion-button>
            </ion-row>

          </ion-grid>
          <button float-right ion-button color="primary" class="btnNext" (click)="next()">&#8250;</button>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>