//ion background css
ion-content {
    position: absolute;
    top: 0px;
    --background: url(../../../assets/images/map_bg.png) no-repeat center center /cover;
}
//ion background css
ion-toolbar {
    --background: transparent;
}
//ion card size
ion-card {
    position: relative;
    margin: auto;
    margin-bottom: 2vmax;
    width: 100%;
    border-radius: 5%;
}
//ion button widht 
ion-button {
    width: 100%;
}
//avatar img css
.avatar-icon {
    width: 40vmax;
    z-index: 1;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}
//col size
.col {
    height: 100vmax;
    display: flex;
}
//center text
.center-text {
    justify-content: center;
}
//small text
.small-text {
    font-size: 0.9rem;
}
//small text
.smaller-text {
    font-size: 0.6rem;
}
//active text
.active-text {
    font-size: 0.8rem;
    color: #000;
}
//margin 
.margin-bottom {
    margin-bottom: 5%;
}
//title decoration
h4{
    color: #3B546A;
}
//paragraph decoration
p {
    color: #3B546A;
}
//prev decoration
.btnPrev {
    position: absolute;
    left: 10px;
    top: 50%;
    background-color: #fff;
    color: #3B546A;
}
//next decoration
.btnNext {
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #fff;
    color: #3B546A;
}
//avatar original css
.pick-avatar {
  opacity: 0.5;
  width: 70%;
  font-size: 0.6rem;
  color: #3B546A;
}
//avatar animations original css
.pick-avatar-selected {
  transition: opacity 0.2s linear;
  opacity: 1 !important;
  width: 80% !important;
  font-size: 0.6rem;
}
